
@{
    ViewData["Title"] = "About_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <br />
</div>
<section id="about-part" class="pt-65">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h4>Welcome to MGNREGA Jharkhand </h4>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p class="text-justify">The Jharkhand government implements the Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA), a national law passed in 2005 to guarantee at least 100 days of wage employment in rural areas to every household willing to do unskilled manual work. The program, overseen by the state's Rural Development Department, aims to enhance livelihood security, promote sustainable development by creating productive assets, strengthen local communities, and empower vulnerable groups like women and scheduled tribes. </p>
                </div>
                <div class="my-4">
                    <h4 class="mb-3">How it Works</h4>
                    <ul class="listCus">
                        <li> <b>Application:</b>Rural households apply for work under the scheme.</li>
                        <li> <b>Employment: </b>If work is not provided within 15 days of application, the applicant is entitled to an unemployment allowance.</li>
                        <li> <b>Work:</b> Labour-intensive tasks that contribute to rural infrastructure and environmental conservation are preferred.</li>
                        <li> <b>Payment:</b> Wages are paid into the beneficiary's account.</li>
                        <li> <b>labor:</b> material ratio is maintained at 60:40.</li>
                    </ul>

                </div>
            </div> <!-- about cont -->

        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-bg">
        <img src="~/web/images/about/bg-1.png" alt="About">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->
<!--====== TEASTIMONIAL PART START ======-->

<section id="testimonial" data-overlay="8" style="margin-bottom: 93px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-40">
                    <h2>Key Aspects of MGNREGA in Jharkhand</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-slied mt-40">
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Guaranteed Employment :</h6>
                        <span>Provides at least 100 days of guaranteed unskilled wage employment per financial year to rural households. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    @* <div class="testimonial-thum">
                            <img src="~/web/images/testimonial/t-2.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div> *@
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Livelihood Security : </h6>
                        <span>Focuses on enhancing the economic security of rural poor households. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Asset Creation :</h6>
                        <span>Funds the creation of durable rural infrastructure, such as roads, canals, and water bodies. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Sustainable Development : </h6>
                        <span>Encourages projects that contribute to environmental conservation and sustainable resource management. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Community Empowerment :</h6>
                        <span>Supports local planning through Gram Panchayats (GPs) and encourages community participation. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Social Inclusion : </h6>
                        <span>Prioritizes women's participation and works to include vulnerable groups such as Scheduled Castes, Scheduled Tribes, and women-headed households. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Legal Right to Work :</h6>
                        <span>Employment under the scheme is a legal entitlement, and beneficiaries are entitled to an unemployment allowance if work isn't provided within 15 days of application. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Eligibility :</h6>
                        <span>Any Indian citizen above the age of 18 residing in a rural area can apply.  </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-cont">
                        <h6 style="font-size:25px">Direct Benefit Transfer :</h6>
                        <span>Wages are paid directly into the beneficiaries' bank or post office accounts. </span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
        </div> <!-- testimonial slied -->

        <br />
    </div> <!-- container -->
</section>

<!--====== TEASTIMONIAL PART ENDS ======-->

