<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Mahatma Gandhi National Rural Employment Guarantee Scheme-Jharkhand</title>
    <link rel="shortcut icon" href="~/web/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/web/css/slick.css" />
    <link rel="stylesheet" href="~/web/css/animate.css" />
    <link rel="stylesheet" href="~/web/css/nice-select.css" />
    <link rel="stylesheet" href="~/web/css/jquery.nice-number.min.css" />
    <link rel="stylesheet" href="~/web/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/web/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/web/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/web/css/default.css" />
    <link rel="stylesheet" href="~/web/css/style.css" />
    <link rel="stylesheet" href="~/web/css/responsive.css" />
</head>
<body>

    <div>
        <div class="preloader">
            <div class="loader rubix-cube">
                <div class="layer layer-1"></div>
                <div class="layer layer-2"></div>
                <div class="layer layer-3 color-1"></div>
                <div class="layer layer-4"></div>
                <div class="layer layer-5"></div>
                <div class="layer layer-6"></div>
                <div class="layer layer-7"></div>
                <div class="layer layer-8"></div>
            </div>
        </div>
        <header id="header-part">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-contact text-lg-left text-center position-relative">
                                <div class="newTickerContainer">
                                    <div class="newsTicker">NOTICE</div>
                                    <div class="ticker-container">
                                        <div class="ticker">
                                            <div class="ticker-item">
                                                <a target="_blank" href="#">झारखंड में मनरेगा के तहत सिंचाई के लिए तालाब निर्माण हेतु आवेदन पत्र आमंत्रण सूचना।</a>
                                            </div>
                                            <div class="ticker-item">
                                                <a target="_blank" href="#">झारखंड में मनरेगा के तहत सिंचाई के लिए नहर निर्माण हेतु आवेदन पत्र आमंत्रण सूचना।</a>
                                            </div>
                                            <!-- Duplicate items for seamless looping -->
                                            <div class="ticker-item">
                                                <a target="_blank" href="#">झारखंड में मनरेगा के तहत सिंचाई के लिए तालाब निर्माण हेतु आवेदन पत्र आमंत्रण सूचना।</a>
                                            </div>
                                            <div class="ticker-item">
                                                <a target="_blank" href="#">झारखंड में मनरेगा के तहत सिंचाई के लिए नहर निर्माण हेतु आवेदन पत्र आमंत्रण सूचना।</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header top -->

            <div class="header-logo-support pt-2 pb-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/web/images/MGNREGA_Jharkhand.png" alt="Logo" style="height:70px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 d-flex align-items-center">
                            <div class="support-button">
                                <div class="icon">
                                    <h3 class="middleTitle">
                                        <span>  MAHATMA GANDHI NATIONAL RURAL</span>
                                        <span>EMPLOYMENT GUARANTEE SCHEME </span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/web/images/government-of-jharkhand-logo.png" alt="Logo" style="height:70px;" />
                                </a>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- header logo support -->

            <div class="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="collapse navbar-collapse sub-menu-bar float-right" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item logo-item" style="display: none;">
                                            <img src="~/web/images/MGNREGA_Jharkhand.png" alt="Logo" style="width:70px;height:60px;" />
                                        </li>
                                        <li class="nav-item">
                                            <a class="active" href="@Url.Action("Index", "Home")">Home</a>

                                        </li>
                                        <li class="nav-item">
                                            <a href="#">About us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Job Card</a>

                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Offical Documents<i class="fa fa-caret-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Annual Reports</a></li>
                                                <li><a href="#">MGNREGA Act</a></li>
                                                <li><a href="#">Master Circular</a></li>
                                                <li><a href="#">Publications</a></li>
                                                <li><a href="#">News Letters</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">RTI <i class="fa fa-caret-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">RTI contacts</a></li>
                                                <li><a href="#">Application procedure</a></li>
                                                <li><a href="#">FAQs</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#">Gallery <i class="fa fa-caret-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Media library</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Contact</a>

                                        </li>

                                    </ul>
                                </div>
                            </nav> <!-- nav -->
                        </div>

                    </div> <!-- row -->
                </div> <!-- container -->
            </div>

        </header>

        <!--====== HEADER PART ENDS ======-->
        <!--====== SEARCH BOX PART START ======-->

        <div class="search-box">
            <div class="serach-form">
                <div class="closebtn">
                    <span></span>
                    <span></span>
                </div>
                <form action="#">
                    <input type="text" placeholder="Search by keyword">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- serach form -->
        </div>

        <!--====== SEARCH BOX PART ENDS ======-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--====== FOOTER PART START ======-->

    <footer id="footer-part">

        <div class="footer-top">
            <div class="container py-4">
                <div class="row">
                    <!-- About Section -->
                    <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                        <div class="footer-about">
                            <div class="logo">
                                <a href="#"><img src="~/web/images/mgnrega_jharkhand.png" alt="Logo" class="img-fluid footerBG"></a>
                            </div>
                            <p>
                                Website content is owned and managed by the Ministry of Rural Development, Government of Jharkhand.
                            </p>
                        </div>
                    </div>
                    <!-- Sitemap Section (single column for better fit in equal width) -->
                    <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                        <div class="footer-link">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Job Card</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Annual Report</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>MGNREGA Act</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Related Links Section -->
                    <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                        <div class="footer-link support">
                            <div class="footer-title pb-25">
                                <h6>Related Links</h6>
                            </div>
                            <ul>
                                <li><a href="https://rural.gov.in/"><i class="fa fa-angle-right"></i>MoRD</a></li>
                                <li><a href="https://www.nic.gov.in/"><i class="fa fa-angle-right"></i>NIC</a></li>
                                <li><a href="https://www.jharkhand.gov.in/"><i class="fa fa-angle-right"></i>State Government</a></li>
                                <li><a href="https://rti.jharkhand.gov.in/"><i class="fa fa-angle-right"></i>RTI Portal</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Contact Us Section -->
                    <div class="col-12 col-lg-3 mb-4 mb-lg-0">
                        <div class="footer-address">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="cont">
                                        <p>Rural Development Department, FFP Building, Dhurwa, Near Project Building</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="cont">
                                        <p>123 456 789</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="cont">
                                        <p>info@yourmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer-copyright pt-10 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-md-left text-center">
                            <p class="text-center">
                                <a href="https://jslps.in/" target="_blank" style="color:#ffffff; text-decoration:none;font-size: 13px;">
                                    Copyright   © <span id="year"></span> Government of Jharkhand. All Rights Reserved. | Version 1.0 | Developed & Maintained by JSLPS
                                </a>
                            </p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!--====== BACK TO TP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/web/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/web/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/web/js/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/web/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/web/js/jquery.magnific-popup.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="~/web/js/waypoints.min.js"></script>
    <script src="~/web/js/jquery.counterup.min.js"></script>

    <!--====== Nice Select js ======-->
    <script src="~/web/js/jquery.nice-select.min.js"></script>

    <!--====== Nice Number js ======-->
    <script src="~/web/js/jquery.nice-number.min.js"></script>
    <!--====== Count Down js ======-->
    <script src="~/web/js/jquery.countdown.min.js"></script>

    <!--====== Validator js ======-->
    <script src="~/web/js/validator.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/web/js/ajax-contact.js"></script>

    <!--====== Main js ======-->
    <script src="~/web/js/main.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Translation dictionary
        const translations = {
          en: {
            welcome: "Welcome to Our Website",
            intro: "This is a simple demo of language switcher."
          },
          hi: {
            welcome: "हमारी वेबसाइट पर आपका स्वागत है",
            intro: "यह भाषा बदलने का एक सरल डेमो है।"
          }
        };

        // Set default language
        function setLanguage(lang) {
          document.querySelectorAll("[data-translate]").forEach(el => {
            let key = el.getAttribute("data-translate");
            el.innerText = translations[lang][key];
          });

          // Save preference in localStorage
          localStorage.setItem("site-lang", lang);
        }

        // On page load, apply saved language or default to English
        window.onload = () => {
          let savedLang = localStorage.getItem("site-lang") || "en";
          document.getElementById("langSwitcher").value = savedLang;
          setLanguage(savedLang);
        };
    </script>
    <script>
        window.addEventListener('scroll', function () {
            const logoItem = document.querySelector('.logo-item');
            if (window.scrollY > 100) {
                logoItem.style.display = 'inline-block';
            } else {
                logoItem.style.display = 'none';
            }
        });
    </script>

    <script>
        function adjustTickerWidth() {
            const ticker = document.querySelector('.ticker');
            const tickerItems = document.querySelectorAll('.ticker-item');
            let totalWidth = 0;

            tickerItems.forEach(item => {
                totalWidth += item.offsetWidth;
            });
            ticker.style.width = `${totalWidth}px`;
        }

        window.addEventListener('load', adjustTickerWidth);
        window.addEventListener('resize', adjustTickerWidth);
    </script>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</body>
</html>
